
.box-overlay.box-outer {
    display: table;
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 320px;
    min-height: 450px;
    z-index: 9999;
    background: #000;
    margin: 0px;
    padding: 0px;
}

.box-overlay .box-middle {
position: fixed;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    height: 100%;
    background: url(../images/King_Rama10.jpg) no-repeat center top;
    background-size: contain;
}

.box-overlay .container_pop {
  float: left;
  width: 100%;
    padding: 0px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    bottom: 0;
    height: 100%;
}

.box-overlay .box-login {
    background-color: #f7f7f7;
    display: table;
    margin: auto;
    width: 100%;
    height: 100%;
    /*-webkit-box-shadow: 1px 0px 10px 0px rgba(54,54,54,0.4);
    -moz-box-shadow: 1px 0px 10px 0px rgba(54,54,54,0.4);
    box-shadow: 1px 0px 10px 0px rgba(54,54,54,0.4);*/
    text-align: center;
    background: none;
}

.box-overlay .box-login a {
    font-size: 170% !important;
    text-decoration: underline;
    color: #5f3002;
}

.box-overlay .box-login a span {
    color: #5f3002;
    font-family: 'charmonman_bold';
}

.btn_goto_home {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
@media (max-width: 1245px) and (min-width: 1201px) {
  .btn_goto_home {
      bottom: 0px;
      top: 0px;
      margin-top: 67%;
  }
}
@media (max-width: 1200px) {
  .btn_goto_home {
      bottom: 0px;
      top: 0px;
      margin-top: 67%;
  }
}

@media (max-width: 1024px) {
  .box-overlay .box-middle {
    background: url(../images/King_Rama10_ipad.jpg) no-repeat center top;
    /*background-size: contain;*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .btn_goto_home {
    top: inherit;
    bottom: 30px;
    margin-top: 0;
  }
}
@media (max-width: 660px) {
  .box-overlay .box-login a {
    font-size: 140% !important;
  }
}
@media (max-width: 710px) and (min-width: 600px) {
  .btn_goto_home {
      bottom: 0px;
      top: 0px;
      margin-top: 80%;
  }
}
@media (max-width: 600px) {
  .box-overlay .box-middle {
    background: url(../images/King_Rama10_mobile.jpg) no-repeat center top, url(../images/DITP_mobile_ft.jpg) repeat-y center top;
    /*background-size: contain;*/
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
